1.How to import pandas and check the version?

In [1]:
import pandas as pd
pd.__version__

'1.3.3'

2. How to create a series from a list, numpy array and dict?
Create a pandas series from each of the items below: a list, numpy and a dictionary

Input

import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [4]:
import numpy as np
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

In [6]:
x=pd.Series(mylist)   # how to create a Series from a list, numpy array and dictionaries
y=pd.Series(myarr)
z=pd.Series(mydict)

3. How to convert the index of a series into a column of a dataframe?
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [10]:
ser = pd.Series(mydict)
modified = ser.reset_index()

In [13]:
modified.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

4. How to combine many series to form a dataframe?

In [14]:
df=pd.concat([x,y])
df.head()

0    a
1    b
2    c
3    e
4    d
dtype: object

5. How to assign name to the series’ index?

In [18]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2=ser.rename("alphabets")
ser2.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

6. How to get the items of series A not present in series B?

In [23]:
#From ser1 remove items present in ser2.

ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
result = ser1[~ser1.isin(ser2)]
result.head()

0    1
1    2
2    3
dtype: int64

7. How to get the items not common to both series A and series B?

In [28]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])
ser3 = pd.Series(np.union1d(ser1, ser2)) #union of 2 ser
ser4 = pd.Series(np.intersect1d(ser1, ser2)) #intersection
result = ser3[~ser3.isin(ser4)]
result.head()

0    1
1    2
2    3
5    6
6    7
dtype: int64

8. How to get the minimum, 25th percentile, median, 75th, and max of a numeric series?

In [31]:

ser = pd.Series(np.random.normal(10, 5, 25))
result = np.percentile(ser, q=[0, 25, 50, 75, 100])
print(result)

[-0.92613597  6.71725623  9.76266166 13.13269674 19.73036997]

9. How to get frequency counts of unique items of a series?

In [32]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))
result = ser.value_counts()
print(result)

c    5
a    5
e    5
b    4
f    4
h    3
g    3
d    1
dtype: int64

10. How to keep only top 2 most frequent values as it is and replace everything else as ‘Other’?

In [36]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))
print("Top 2 Freq:", ser.value_counts())
ser[~ser.isin(ser.value_counts().index[:2])] = 'Other'
ser

Top 2 Freq: 1    5
4    3
3    2
2    2
dtype: int64

0         1
1         4
2         1
3     Other
4     Other
5     Other
6         1
7         4
8         1
9         4
10        1
11    Other
dtype: object

11. How to bin a numeric series to 10 groups of equal size?
Bin the series ser into 10 equal deciles and replace the values with the bin name.

Input

ser = pd.Series(np.random.random(20))
Desired Output

 First 5 items
0    7th
1    9th
2    7th
3    3rd
4    8th
dtype: category
Categories (10, object): [1st < 2nd < 3rd < 4th ... 7th < 8th < 9th < 10th]

In [44]:
ser = pd.Series(np.random.random(20))
categories=["1st","2nd","3th","4th","5th","6th","7th","8th","9th","10th"]
q=[0,0.1,0.2,0.3,0.4,0.5,0.6,0.7,0.8,0.9,1]
df = pd.qcut(ser,q, categories)
df.head()

0    9th
1    1st
2    6th
3    7th
4    2nd
dtype: category
Categories (10, object): ['1st' < '2nd' < '3th' < '4th' ... '7th' < '8th' < '9th' < '10th']

12. How to convert a numpy array to a dataframe of given shape?
Reshape the series ser into a dataframe with 7 rows and 5 columns

Input

ser = pd.Series(np.random.randint(1, 10, 35))

In [45]:
ser = pd.Series(np.random.randint(1, 10, 35))
df = pd.DataFrame(ser.values.reshape(7,5))
df.head()

   0  1  2  3  4
0  9  9  8  4  6
1  5  3  1  9  9
2  4  2  5  4  8
3  1  9  6  2  3
4  1  1  1  4  9

13. How to find the positions of numbers that are multiples of 3 from a series?

In [69]:
ser = pd.Series(np.random.randint(1, 10, 7))     #I do not understand why I get this error. 
print(ser)
result = ser[ser % 3 == 0]
result

0    6
1    8
2    3
3    2
4    9
5    7
6    4
dtype: int32

0    6
2    3
4    9
dtype: int32

14. How to extract items at given positions from a series

In [65]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]
df = ser.take(pos)
df

0     a
4     e
8     i
14    o
20    u
dtype: object

15. How to stack two series vertically and horizontally ?

In [67]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))
df = pd.concat([ser1, ser2],axis=1)
df

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

16. How to get the positions of items of series A in another series B?

In [68]:
#Get the positions of items of ser2 in ser1 as a list.
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])
result = [pd.Index(ser1).get_loc(i) for i in ser2]
result

[5, 4, 0, 8]

17. How to compute the mean squared error on a truth and predicted series?

In [74]:
#Compute the mean squared error of truth and pred series.

truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

difference_array = np.subtract(truth, pred)
squared_array = np.square(difference_array)
mse = squared_array.mean()
mse

0.3949608933013843

18. How to convert the first character of each element in a series to uppercase?

In [77]:
#Change the first character of each word to upper case in each word of ser.

ser = pd.Series(['how', 'to', 'kick', 'ass?'])      
df=ser.str.capitalize()   
df

0     How
1      To
2    Kick
3    Ass?
dtype: object

19. How to calculate the number of characters in each word in a series?

In [83]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
df = ser.map(lambda calc: len(calc))
df

0    3
1    2
2    4
3    4
dtype: int64

20. How to compute difference of differences between consequtive numbers of a series?

In [84]:
#Difference of differences between the consequtive numbers of ser.

ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
#Desired Output

#[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
#[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

print(ser.diff().tolist())
print(ser.diff().diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]
[nan, nan, 1.0, 1.0, 1.0, 1.0, 0.0, 2.0]

21. How to convert a series of date-strings to a timeseries?

In [85]:
ser = pd.Series(['01 Jan 2010', '02-02-2011', '20120303', '2013/04/04', '2014-05-05', '2015-06-06T12:20'])
print(pd.to_datetime(ser))

0   2010-01-01 00:00:00
1   2011-02-02 00:00:00
2   2012-03-03 00:00:00
3   2013-04-04 00:00:00
4   2014-05-05 00:00:00
5   2015-06-06 12:20:00
dtype: datetime64[ns]