# Hypothesis Testing

In [1]:
from scipy.stats import t
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as stats
import math


**1. It is assumed that the mean systolic blood pressure is μ = 120 mm Hg. 
In the Honolulu Heart Study, a sample of n = 100 people had an average systolic blood pressure of 130.1 mm Hg 
with a standard deviation of 21.21 mm Hg. Is the group significantly different 
(with respect to systolic blood pressure!) from the regular population?**

**a) Set up the hypothesis test.**

main details
population: μ=120 mmHg, no standard deviation #as we do not have the population st.deviation,

                                              # we have to use t-statistics

sample size=100
sample mean=130.1mmHg, st.deviation=21.21mmHG

Ho: μ=120
Hi: μ!=120

**b)Write down all the steps followed for setting up the test.**

1: We have to define H0 and Ha
2: We need to calculate the t-statistic value
3: we need to check the T-statistic with 99 degrees of freedom and area of 0.95
4: We have to compare the values of t-statistic and t-value and decide if we accept H0

**c)Calculate the test statistic by hand and also code it in Python. It should be 4.76190. 
What decision can you make based on this calculated value?**

In [2]:
# by hand
#t=(x̄-μ)/(σ(muestra)/√n)->t=(130.1-120)/(21.21/√100)-> t=4.76190
# 2 tail, t-distribution with (n-1)=99 degrees of freedom and an area of 0.95->1.990

# t=4.76190>1.990-->We REJECT HO

In [3]:
# with python

from scipy.stats import t
import scipy.stats

# formula to find t-statistic value in t-distribution table with 2 tails
tc=scipy.stats.t.ppf(q=1-.05/2,df=99)

In [4]:
# our t-value is 4.76190>1.9884---> reject H0

***2.In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file Data/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other***

In [5]:
df=pd.read_excel("Data/Data_Machine.xlsx")

In [6]:
df

   New_Machine  Old_Machine
0          421          427
1           41          436
2          413          438
3          418          433
4          424          425
5          428          435
6          432          431
7          423          417
8          418           44
9          427          441

Ho: μ1=μ2
Hi: μ1!=μ2

x̄1=384.5
x̄2=392.7

t=(x̄1-x̄2)/√((σ1^2/n)+(σ2^2/n))->t=(130.1-120)/(21.21/√100)-> t=4.76190
# 2 tail, t-distribution with (n-1)=99 degrees of freedom and an area of 0.95->1.990

In [9]:
x̄1=df["Old_Machine"].mean()
x̄1

392.7

In [8]:
x̄2=df["New_Machine"].mean()
x̄2

384.5

In [11]:
# In order to calculate the standar deviation for each column
df.std(axis= 0)

New_Machine    120.820574
Old_Machine    122.720142
dtype: float64

In [ ]:
#now we have all data in order to calculate the t value
t=0.1505