In [1]:
def sumX(x):   #how to define a function
    return x+3

In [2]:
sumX(4)#how to call a function

7

In [3]:
sumX_lambda= lambda x:x+3   #how to create a lambda function with a variable

In [4]:
sumX_lambda(4)

7

## Map Function

In [5]:
list_numbers=[1,3,4,5,6,7,9]   #we will add the values of the list to the lambda function

In [6]:
list(map(lambda x:x+3,list_numbers))    # with map function we can put the lambda function but we can also use the name of the function

[4, 6, 7, 8, 9, 10, 12]

In [7]:
list(map(sumX,list_numbers))  # we get the same result when we call the function and we we use the lambda function

[4, 6, 7, 8, 9, 10, 12]

In [8]:
list(map(lambda x:x**2 if x<4 else x,list_numbers)) # analyst prefers lambda function because it allows to change the values of the function

[1, 9, 4, 5, 6, 7, 9]

In [9]:
list_string=["hello","world"]

In [10]:
list(map(lambda x:x+ "!" ,list_string)) # we can use map function also with strings. In this exercise we will add an "!" to every string in the list

['hello!', 'world!']

In [11]:
import pandas as pd
import numpy as np

In [12]:
pd.__version__  # you need 2 __

'1.3.3'

In [13]:
two_dim_arr = np.random.randint(10, size=(3, 4))  # Two-dimensional array

In [14]:
df=pd.DataFrame(two_dim_arr)

In [15]:
df

   0  1  2  3
0  2  3  4  5
1  9  7  7  6
2  3  0  2  1

In [16]:
df.iloc[0,2]  # to change an array we need the function iloc

4

In [17]:
df.iloc[0,2]="hello"

In [18]:
df

   0  1      2  3
0  2  3  hello  5
1  9  7      7  6
2  3  0      2  1

In [19]:
df=pd.DataFrame(np.random.randint(10,size=(3,2)),columns=["foo","bar"],index=["A","B","C"])

In [20]:
df

   foo  bar
A    5    2
B    4    6
C    8    3

In [21]:
df.iloc[0,1]

2

In [22]:
# remember that the A,B,C are called index.

In [24]:
df=pd.read_csv("health4all (1).csv")
df

,Unnamed: 0,id,state,gender,dob,avggift,hv1,med_house_income,avg_fam_income,hvp1,ic5,pobc1,pobc2,med_fam_income,avg_house_income,domain,profit,target_d
0,0,44060,FL,M,1901,28.000000,NaN,392,520.0,7,21975,6,16,430.0,466,C2,72.000000,100.0
1,1,96093,IL,M,0,5.666667,537.0,365,473.0,0,19387,1,89,415.0,410,T2,1.333333,7.0
2,2,43333,FL,F,2501,4.111111,725.0,301,436.0,3,18837,11,17,340.0,361,C2,0.888889,5.0
3,3,21885,NC,M,2208,27.277778,NaN,401,413.0,7,14014,1,74,407.0,399,T2,10.722222,38.0
4,4,190108,FL,F,0,6.000000,995.0,252,348.0,0,17991,5,6,280.0,316,C2,-1.000000,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,30104,GA,M,5201,8.833333,364.0,246,325.0,0,9720,0,89,307.0,287,R2,6.166667,15.0
996,996,154614,CA,F,0,15.000000,1709.0,511,537.0,26,15138,9,68,518.0,527,T1,5.000000,20.0
997,997,57151,KY,F,3601,15.900000,875.0,311,326.0,0,7746,3,29,326.0,326,R1,10.100000,26.0
998,998,71425,MI,M,4401,6.000000,713.0,300,364.0,0,16833,2,88,313.0,323,T2,1.000000,7.0
999,1001,41384,FL,F,5107,9.428571,556.0,318,352.0,0,11779,16,22,358.0,320,S3,2.571429,12.0

In [26]:
df.info()   #objects are strings

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Unnamed: 0        1000 non-null   int64
 1   id                1000 non-null   int64
 2   state             1000 non-null   object
 3   gender            961 non-null    object
 4   dob               1000 non-null   int64
 5   avggift           1000 non-null   float64
 6   hv1               995 non-null    float64
 7   med_house_income  1000 non-null   int64
 8   avg_fam_income    999 non-null    float64
 9   hvp1              1000 non-null   int64
 10  ic5               1000 non-null   object
 11  pobc1             1000 non-null   int64
 12  pobc2             1000 non-null   int64
 13  med_fam_income    999 non-null    float64
 14  avg_house_income  1000 non-null   int64
 15  domain            1000 non-null   object
 16  profit            1000 non-null   float64
 17  target_d          1000 non-null   float64
dtypes: float64(6), int64(8), object(4)
memory usage: 140.8+ KB