In [53]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

## load data

In [54]:
file1 = pd.read_csv('Data/file1.csv')

In [55]:
file1

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1002,114721,OK,NaN,1040,472,656.0,0,26962,2,56,609.0,579,11.666667,0,0,C2,15.0
1003,149152,CA,M,4507,842,962.0,95,54642,17,50,1004.0,893,20.000000,1,4401,S1,20.0
1004,959,IA,F,586,349,465.0,1,15304,1,77,413.0,404,7.300000,0,4404,C2,10.0
1005,179563,WA,male,842,420,494.0,2,12894,41,24,419.0,476,16.400000,1,5001,S2,23.0
1006,41243,FL,F,556,246,330.0,0,10272,2,56,277.0,292,9.818182,2,2201,S2,12.0

In [56]:
file2 = pd.read_csv('Data/file2.txt', sep = '\t')

In [57]:
file2

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,190579,CA,M,3200,310,343,83,17224,31,32,311,333,3.106061,1,0,U1,4.0
1,42997,FL,F,1567,392,409,27,18631,4,10,391,434,6.562500,2,1808,C1,7.0
2,132896,OR,F,953,319,455,1,15729,3,45,379,387,15.571429,2,4410,T1,25.0
3,120189,TX,M,492,244,301,3,10818,0,92,260,284,19.375000,0,0,T2,25.0
4,138829,AZ,feamale,847,185,308,0,11582,3,20,238,225,11.500000,28,3601,T2,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1010,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1011,161838,CA,F,1953,304,380,47,13811,25,43,353,337,13.500000,0,4212,C2,14.0
1012,138311,AZ,Female,1708,437,684,36,29098,7,19,586,551,9.769231,2,1403,S1,20.0
1013,123469,TX,M,561,493,540,1,16623,5,68,529,506,5.200000,0,0,T2,5.0
1014,135341,AZ,Female,700,205,295,0,12713,9,12,221,276,12.857143,0,0,C2,12.0

In [58]:
file3 = pd.read_excel('Data/file3.xlsx')

In [59]:
file3

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,119966,TX,F,321,225,281,0,9372,3,68,264,243,8.058824,0,3212,T3,11.0
1,152470,CA,F,5725,610,807,97,53158,13,22,763,698,23.727273,0,0,S1,45.0
2,48527,AL,Male,931,407,496,0,17743,0,65,502,439,4.416667,2,0,R3,3.0
3,171528,CA,F,1895,317,471,46,17431,10,62,389,405,6.705882,0,5501,R2,5.0
4,50122,Tennessee,F,715,318,370,2,12416,0,75,340,352,9.250000,2,0,T1,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,179863,WA,male,1253,325,447,7,15635,12,57,454,374,9.187500,1,4702,U1,10.0
996,87395,MT,female,842,264,388,3,15084,2,50,286,370,15.100000,0,1701,R1,20.0
997,86779,ND,F,331,165,266,0,9324,1,61,172,232,10.666667,28,0,T3,11.0
998,25214,NC,female,1823,544,567,43,21265,1,62,552,552,12.000000,28,5111,T1,25.0
999,79641,WI,F,1244,672,776,25,25036,1,64,713,743,9.937500,0,2310,S1,12.0

In [60]:

file4 = pd.read_excel('Data/file4.xlsx')

In [61]:
file4

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,186307,CA,M,AAA1229,345,438,3,15915,2,58,388,417,16.142857,1,2511,C2,20.0
1,34174,WV,F,529,198,291,0,10816,0,80,218,257,6.083333,2,3001,T2,12.0
2,101388,MO,M,526,340,342,0,9687,0,89,348,321,5.800000,1,5501,R2,10.0
3,159472,CA,F,621,231,279,0,6184,43,41,237,272,11.666667,1,1512,R3,15.0
4,179143,WA,male,1688,496,564,35,22963,2,63,520,521,23.900000,1,3709,T1,25.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1001,41537,FL,F,742,396,470,0,15356,7,37,424,450,14.285714,2,6101,S2,50.0
1002,4881,FL,M,599,100,423,4,11670,10,27,406,200,9.230769,28,7401,C1,10.0
1003,66358,ND,M,593,258,299,0,10186,1,70,298,274,5.266667,1,3301,S2,5.0
1004,2231,WI,male,564,217,397,0,12315,0,96,386,295,11.400000,1,7301,T2,14.0
1005,68534,MI,M,651,431,505,0,14845,7,77,451,455,7.428571,1,1709,S2,9.0

In [62]:
hk_df = pd.concat([file1,file2,file3, file4], axis=0).reset_index(drop=True)

In [63]:
hk_df     #all data merge. Now we finish to load all my data

,CONTROLN,STATE,GENDER,HV1,IC1,IC4,HVP1,IC5,POBC1,POBC2,IC2,IC3,AVGGIFT,TCODE,DOB,DOMAIN,TARGET_D
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,41537,FL,F,742,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
4024,4881,FL,M,599,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
4025,66358,ND,M,593,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
4026,2231,WI,male,564,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
4027,68534,MI,M,651,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

## we need to standarize the heading names

making the column names lower case #vamos a poner el nombre de las columnas en minusculas

In [64]:
def lower_case_column_names(hk_df):
    hk_df.columns=[i.lower() for i in hk_df.columns]
    return hk_df

In [65]:
lower_case_column_names(hk_df)

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,41537,FL,F,742,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
4024,4881,FL,M,599,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
4025,66358,ND,M,593,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
4026,2231,WI,male,564,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
4027,68534,MI,M,651,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

In [66]:
hk_df.columns=[item.lower()for item in hk_df.columns]   #another way to do it using list comprehension

In [67]:
hk_df

,controln,state,gender,hv1,ic1,ic4,hvp1,ic5,pobc1,pobc2,ic2,ic3,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,41537,FL,F,742,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
4024,4881,FL,M,599,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
4025,66358,ND,M,593,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
4026,2231,WI,male,564,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
4027,68534,MI,M,651,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

In [68]:
#I can rename the columns with the function rename
def rename_columns(hk_df):
    hk_df.rename(columns={'controln':'id','hv1':'median_home_val', 'ic1':'median_household_income',"ic2":"med_fam_income", "ic3":"avg_household_income","ic4": "avg_fam_income","ic5":"per_capita_income"}, inplace=True )
    return hk_df

In [69]:
rename_columns(hk_df)

,id,state,gender,median_home_val,median_household_income,avg_fam_income,hvp1,per_capita_income,pobc1,pobc2,med_fam_income,avg_household_income,avggift,tcode,dob,domain,target_d
0,44060,FL,M,AAA896,392,520.0,7,21975,6,16,430.0,466,28.000000,1,1901,C2,100.0
1,96093,IL,M,537.00,365,473.0,0,19387,1,89,415.0,410,5.666667,0,0,T2,7.0
2,43333,FL,F,725.00,301,436.0,3,18837,11,17,340.0,361,4.111111,0,2501,C2,5.0
3,21885,NC,M,AAA1095,401,413.0,7,14014,1,74,407.0,399,27.277778,0,2208,T2,38.0
4,190108,FL,F,995.00,252,348.0,0,17991,5,6,280.0,316,6.000000,28,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,41537,FL,F,742,396,470.0,0,15356,7,37,424.0,450,14.285714,2,6101,S2,50.0
4024,4881,FL,M,599,100,423.0,4,11670,10,27,406.0,200,9.230769,28,7401,C1,10.0
4025,66358,ND,M,593,258,299.0,0,10186,1,70,298.0,274,5.266667,1,3301,S2,5.0
4026,2231,WI,male,564,217,397.0,0,12315,0,96,386.0,295,11.400000,1,7301,T2,14.0
4027,68534,MI,M,651,431,505.0,0,14845,7,77,451.0,455,7.428571,1,1709,S2,9.0

dropping some columns

In [70]:
def drop_columns(hk_df) :
    hk_df.drop(columns=["id","tcode",'pobc1'], inplace=True)
    return hk_df

In [71]:
drop_columns(hk_df)

,state,gender,median_home_val,median_household_income,avg_fam_income,hvp1,per_capita_income,pobc2,med_fam_income,avg_household_income,avggift,dob,domain,target_d
0,FL,M,AAA896,392,520.0,7,21975,16,430.0,466,28.000000,1901,C2,100.0
1,IL,M,537.00,365,473.0,0,19387,89,415.0,410,5.666667,0,T2,7.0
2,FL,F,725.00,301,436.0,3,18837,17,340.0,361,4.111111,2501,C2,5.0
3,NC,M,AAA1095,401,413.0,7,14014,74,407.0,399,27.277778,2208,T2,38.0
4,FL,F,995.00,252,348.0,0,17991,6,280.0,316,6.000000,0,C2,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4023,FL,F,742,396,470.0,0,15356,37,424.0,450,14.285714,6101,S2,50.0
4024,FL,M,599,100,423.0,4,11670,27,406.0,200,9.230769,7401,C1,10.0
4025,ND,M,593,258,299.0,0,10186,70,298.0,274,5.266667,3301,S2,5.0
4026,WI,male,564,217,397.0,0,12315,96,386.0,295,11.400000,7301,T2,14.0
4027,MI,M,651,431,505.0,0,14845,77,451.0,455,7.428571,1709,S2,9.0

## rearranging columns

In [72]:
list(hk_df.columns)   # de esta manera puedo tener los nombres de las columnas en forma de lista

['state',
 'gender',
 'median_home_val',
 'median_household_income',
 'avg_fam_income',
 'hvp1',
 'per_capita_income',
 'pobc2',
 'med_fam_income',
 'avg_household_income',
 'avggift',
 'dob',
 'domain',
 'target_d']

In [73]:
hk_df[["state","gender"]] # como es una lista, podemos pedir que de los resultados solo de dos columnas

     state gender
0       FL      M
1       IL      M
2       FL      F
3       NC      M
4       FL      F
...    ...    ...
4023    FL      F
4024    FL      M
4025    ND      M
4026    WI   male
4027    MI      M

[4028 rows x 2 columns]

In [74]:
hk_df = hk_df[[
 'state',
 "gender",
 'median_home_val',
 'avg_fam_income',
 'avg_household_income',
 'med_fam_income',
 'median_household_income',
 'hvp1',
 "per_capita_income",
 'pobc2',
 'avggift',
 'dob',
 'domain',
 'target_d']]

hk_df.head()

,state,gender,median_home_val,avg_fam_income,avg_household_income,med_fam_income,median_household_income,hvp1,per_capita_income,pobc2,avggift,dob,domain,target_d
0,FL,M,AAA896,520.0,466,430.0,392,7,21975,16,28.000000,1901,C2,100.0
1,IL,M,537.00,473.0,410,415.0,365,0,19387,89,5.666667,0,T2,7.0
2,FL,F,725.00,436.0,361,340.0,301,3,18837,17,4.111111,2501,C2,5.0
3,NC,M,AAA1095,413.0,399,407.0,401,7,14014,74,27.277778,2208,T2,38.0
4,FL,F,995.00,348.0,316,280.0,252,0,17991,6,6.000000,0,C2,5.0

## indexing

In [75]:
hk_df.info()     #esta función me permite ver que tipo de variables tengo. 
#por ejemplo puedo ver que existen missing data in gender. Hay 3892 datos en lugar de 4028
#tambien puedo ver si las variables son número enteros o decimales. Quizas quiero convertir los decimales
#En este caso tenemos floats, int64 and objects

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4028 entries, 0 to 4027
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   state                    4028 non-null   object
 1   gender                   3892 non-null   object
 2   median_home_val          4026 non-null   object
 3   avg_fam_income           4027 non-null   float64
 4   avg_household_income     4028 non-null   int64
 5   med_fam_income           4027 non-null   float64
 6   median_household_income  4028 non-null   int64
 7   hvp1                     4028 non-null   int64
 8   per_capita_income        4028 non-null   object
 9   pobc2                    4028 non-null   int64
 10  avggift                  4028 non-null   float64
 11  dob                      4028 non-null   int64
 12  domain                   4028 non-null   object
 13  target_d                 4028 non-null   float64
dtypes: float64(4), int64(5), object(5)
memory usage: 440.7+ KB

In [76]:
hk_df.gender.value_counts() #esta función nos indica cuantos valores hay por categoria
#we need to merge all the F, female....
#maybe we can create a third categorie for U, J, A

F          1966
M          1474
male        128
female      106
Female       77
U            69
Male         33
J            23
feamale      15
A             1
Name: gender, dtype: int64

In [77]:
hk_df.gender.unique() # we have to do some data cleaning here

array(['M', 'F', 'female', 'Male', nan, 'U', 'J', 'male', 'Female',
       'feamale', 'A'], dtype=object)

In [78]:
hk_df[(hk_df["gender"] == "M") & (hk_df["state"] == "FL")] #I want to have the data of male with gender "M" in Florida

,state,gender,median_home_val,avg_fam_income,avg_household_income,med_fam_income,median_household_income,hvp1,per_capita_income,pobc2,avggift,dob,domain,target_d
0,FL,M,AAA896,520.0,466,430.0,392,7,21975,16,28.000000,1901,C2,100.0
34,FL,M,559,269.0,257,270.0,232,0,10511,20,12.611111,2601,S3,20.0
101,FL,M,825,301.0,290,239.0,233,0,9747,21,20.000000,0,C3,20.0
110,FL,M,824,326.0,288,274.0,248,0,15008,7,10.153846,1704,U1,10.0
137,FL,M,3083,332.0,233,270.0,166,52,16019,3,2.916667,2901,C1,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3984,FL,M,653,379.0,358,360.0,319,0,12869,35,9.500000,2601,S3,20.0
3995,FL,M,599,423.0,200,406.0,100,4,11670,27,9.230769,7401,C1,10.0
4014,FL,M,677,313.0,324,272.0,311,0,12509,23,10.115385,2703,C2,10.0
4019,FL,M,595,274.0,262,263.0,252,0,11132,11,14.692308,2501,T2,20.0
4024,FL,M,599,423.0,200,406.0,100,4,11670,27,9.230769,7401,C1,10.0

In [79]:
hk_df.gender.value_counts().sum()

3892

In [80]:
hk_df.head()

,state,gender,median_home_val,avg_fam_income,avg_household_income,med_fam_income,median_household_income,hvp1,per_capita_income,pobc2,avggift,dob,domain,target_d
0,FL,M,AAA896,520.0,466,430.0,392,7,21975,16,28.000000,1901,C2,100.0
1,IL,M,537.00,473.0,410,415.0,365,0,19387,89,5.666667,0,T2,7.0
2,FL,F,725.00,436.0,361,340.0,301,3,18837,17,4.111111,2501,C2,5.0
3,NC,M,AAA1095,413.0,399,407.0,401,7,14014,74,27.277778,2208,T2,38.0
4,FL,F,995.00,348.0,316,280.0,252,0,17991,6,6.000000,0,C2,5.0

In [81]:
hk_df.tail()  #pandas has a head and a tail. Here we have the 5 last rows

,state,gender,median_home_val,avg_fam_income,avg_household_income,med_fam_income,median_household_income,hvp1,per_capita_income,pobc2,avggift,dob,domain,target_d
4023,FL,F,742,470.0,450,424.0,396,0,15356,37,14.285714,6101,S2,50.0
4024,FL,M,599,423.0,200,406.0,100,4,11670,27,9.230769,7401,C1,10.0
4025,ND,M,593,299.0,274,298.0,258,0,10186,70,5.266667,3301,S2,5.0
4026,WI,male,564,397.0,295,386.0,217,0,12315,96,11.400000,7301,T2,14.0
4027,MI,M,651,505.0,455,451.0,431,0,14845,77,7.428571,1709,S2,9.0

# converting data types

In [51]:
hk_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4028 entries, 0 to 4027
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   CONTROLN  4028 non-null   int64
 1   STATE     4028 non-null   object
 2   GENDER    3892 non-null   object
 3   HV1       4026 non-null   object
 4   IC1       4028 non-null   int64
 5   IC4       4027 non-null   float64
 6   HVP1      4028 non-null   int64
 7   IC5       4028 non-null   object
 8   POBC1     4028 non-null   int64
 9   POBC2     4028 non-null   int64
 10  IC2       4027 non-null   float64
 11  IC3       4028 non-null   int64
 12  AVGGIFT   4028 non-null   float64
 13  TCODE     4028 non-null   int64
 14  DOB       4028 non-null   int64
 15  DOMAIN    4028 non-null   object
 16  TARGET_D  4028 non-null   float64
dtypes: float64(4), int64(8), object(5)
memory usage: 535.1+ KB

In [83]:
hk_df._get_numeric_data()

,avg_fam_income,avg_household_income,med_fam_income,median_household_income,hvp1,pobc2,avggift,dob,target_d
0,520.0,466,430.0,392,7,16,28.000000,1901,100.0
1,473.0,410,415.0,365,0,89,5.666667,0,7.0
2,436.0,361,340.0,301,3,17,4.111111,2501,5.0
3,413.0,399,407.0,401,7,74,27.277778,2208,38.0
4,348.0,316,280.0,252,0,6,6.000000,0,5.0
...,...,...,...,...,...,...,...,...,...
4023,470.0,450,424.0,396,0,37,14.285714,6101,50.0
4024,423.0,200,406.0,100,4,27,9.230769,7401,10.0
4025,299.0,274,298.0,258,0,70,5.266667,3301,5.0
4026,397.0,295,386.0,217,0,96,11.400000,7301,14.0
4027,505.0,455,451.0,431,0,77,7.428571,1709,9.0

In [86]:
hk_df.med_fam_income.apply(lambda x: int(np.round(x)) if x==x else x)

0       430.0
1       415.0
2       340.0
3       407.0
4       280.0
        ...
4023    424.0
4024    406.0
4025    298.0
4026    386.0
4027    451.0
Name: med_fam_income, Length: 4028, dtype: float64